.board > div {
  height: 400px;
}

.board {
  padding: 20px 0;
}

.director-image {
  max-height: 100%;
}

.answer {
  padding: 15px 30px 15px 15px;
  margin-bottom: 20px;
  border-left: solid 5px;
  cursor: pointer;
  background-color: #e056fd;
  border-color: #be2edd;
  transition: background-color 0.5s ease;
}

.answer > h4 {
  margin-bottom: 0;
}

.answer:hover {
  background-color: #be2edd;
}
